$tag-color: #6794b7;
body:not(:-moz-handler-blocked) .tags ul a::before { top: -1px; }
/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .tags ul a::before { top: -1px; }
}

.tags ul {
  margin: 0;
  padding: 0;
  

  li{
    display: inline-block;
    margin: 0 0.5em 0.2em 0;
    &:hover {
      opacity: 0.8;
    }
  }

  a {
    padding-left: 0.5em;
    padding-right: 1em;
    color: white;
    font-size: 0.75em;
    text-decoration: none;
    background: $tag-color;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      right: -7px;
      top: 0;
      font-weight: bold;
      border-style: solid;
      border-color: transparent transparent transparent $tag-color;
      border-width: 8px 0 8px 8px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: 0px;
      border-radius: 50%;
      border: 4px solid white;
    }

    &:visited{
      color:white;
    }
  }
}

aside{

  @include respond-to(large-screens) {
    float: right; 
    width: calc(35% - 30px);
  }

  @include respond-to(medium-screens) { 
    text-align: center;
    @include column-width;
    margin: 0 auto;
  }

  @include respond-to(small-screens) {
    display: none;
  }

  .fixed-wrapper {
    @include respond-to(large-screens) {
      position: fixed;
      width: inherit;
    }
  }
  section {
    @include show-on-large;

    &.about h1::before{
        content: "?";
    }
    &.staff h1::before{
        content: "!";
    }

    h1 {
      margin: 0;
      color: $tag-color;
      border-bottom: 4px solid $tag-color;
      text-transform: uppercase;
      font-size: 1.125em;
      &::before{
        font-size: 1.25em;
        color: white;
        background-color: $tag-color;
        margin-right: 0.5em;
        text-align: center;
        display: inline-block;
        width: 1.2em;
        border-bottom: 1px solid $tag-color;
      }
    }

    p {
      font-size: 0.75em;
      color: $text-color;
    }
  }

  .tags ul {
    @include respond-to(small-screens) { display: none; }
    @include respond-to(medium-screens) { margin-top: 2em; }  
  }
}