header h1 {
  text-transform: uppercase;
  text-align: center;
  @include respond-to(small-screens) {
    font-size: 1.5em;
  }
  a, a:visited {
    color: $primary-color;
    text-decoration: none;
  }
}