body {
  color: #777; }

main {
  margin: 0 auto;
  width: 100%; }
  @media only screen and (max-width: 320px) {
    main {
      width: 100%; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    main {
      max-width: 768px; } }
  @media only screen and (min-width: 1024px) {
    main {
      max-width: 1024px; } }

header h1 {
  color: #6b9ad0;
  text-transform: uppercase;
  text-align: center; }
  @media only screen and (max-width: 320px) {
    header h1 {
      font-size: 1.5em; } }
  header h1 img {
    display: inline-block;
    margin: 0 0.25em;
    position: relative;
    vertical-align: middle; }
    @media only screen and (max-width: 320px) {
      header h1 img {
        width: 35px;
        height: 35px; } }
