$active-page-url: url(../img/active-page.png);
$border-bottom-width: 4px;
$border-bottom-color: #c6defa;
/*
  active-element: z-index: 2;
  .dropdown-info: z-index: 1;
  .sticky-floating: z-index: 1;
*/
@mixin active-element{
  &::after{
    position: absolute;
    z-index: 2;
    content: "";
    top: calc(100% - 0.125em);
    left: calc(50% - 11px);
    background: transparent $active-page-url no-repeat;
    display: inline-block;
    width: 22px;
    height: 14px;
  }
}

.main-nav {
  background-color: $primary-color;
  width: 100%;
  position: relative;
  ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    @include column-width;
  }

  .raccoon-face {
    @include show-on-large;
    float: left;
    margin-top: 0.5em;
    width: 37px;
    height: 37px;
    border: 2px solid white;
    opacity: 0.5;
    background-size: 80%;
  }

  .dropdown-anchor{
    @include respond-to(large-screens) { display: none; }
    color: $primary-color;
    background-color: $primary-hover;
    position: relative;
    font-size: 1.125em;
    text-decoration: none;
    padding: 1.125em 1em 1.125em;

    &.about { float: left; }
    &.staff { float: right; }
    &.tags { @include show-on-small; }
    &.menu { @include show-on-small; }

    &:hover, &:focus{
      @include active-element;
    }

    &.about:hover, &.about:focus{
        ~ .about {
        display: inline-flex;
        width: 100%;
      }
    }
    &.staff:hover, &.staff:focus{
        ~ .staff {
        display: inline-flex;
        width: 100%;
      }
    }
    &.tags:hover, &.tags:focus{
        ~ .tags {
        display: inline-flex;
        width: 100%;
      }
    }
    &.menu:hover, &.menu:focus{
        ~ .menu {
        display: inline-flex;
        width: 100%;
      }
    }
  }
  .dropdown-info {
    display: none;
    position: relative;
    background: white;
    border-top: $border-bottom-width solid $border-bottom-color;
    &:hover, &:focus {
      display: inline-flex;
      width: 100%;
    }

    @include respond-to(medium-screens) {
      h1{
        font-size: 1.25em;
        color: $primary-color;
      }
      &.staff {
        div{
          width: 193px;
          height: 172px;
        }
        h1{
          position: relative;
          transform: rotate(-90deg);
          padding: 0.2em 1em 0em;
          left: -65px;
          top: 65px;
          width: 131px;
          height: 38px;
        }
        p{
          position: relative;
          left: -55px;
        }
      }

      &.about {
        div{
          width: 38px;
          height: 125px;
        }
        h1{
          position: relative;
          transform: rotate(-90deg);
          padding: 0.2em 1em 0em;
          left: -42px;
          top: 42px;
          width: 85px;
          height: 38px;
        }
        p{
          position: relative;
          left: 19px;
        }
      }
    }

    h1{
      background-color: #eef4fa;
      text-transform: uppercase;
      margin: 0;
    }

    p{
      background-color: white;
      font-size: 0.75em;
      color: $text-color;
      text-transform: none;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      background: white;
      height: 18px;
      position: absolute;
      bottom: -16px;
    }
  }
}

.show-on-floating{
  visibility: hidden;
}
.sticky-floating {
  position: fixed;
  top: 0;
  visibility: hidden;
  z-index: 1;

  .show-on-floating{
    visibility: inherit;
  }
}

@media only screen and (min-width: 768px){
  .main-nav {
    border-bottom: $border-bottom-width solid $border-bottom-color;

    li {
      display: inline-block;
      position: relative;
      text-align: center;
      &.active {
        @include active-element;
      }
      a {
        color: white;
        text-transform: uppercase;
        font-size: 1.125em;
        text-decoration: none;
        padding: 1.125em 33px 1.125em;
        margin-bottom: 1px; // because of rounded pixels
        display: inline-block;
        &:hover, &:focus {
          background-color: $primary-hover;
        }
      }
    }
  }
}
