h1 about
p.
  Wohin auch das Auge blicket,
  Moor und Heide nur ringsum.
  Vogelsang uns nicht erquicket,
  Eichen stehen kahl und krumm.

  Wir sind die Moorsoldaten,
  Und ziehen mit dem Spaten ins Moor.