h1 Some staff
p.
  Wir sind die Moorsoldaten,
  Und ziehen mit dem Spaten ins Moor.

  Hier in dieser öden Heide
  Ist das Lager aufgebaut,
  Wo wir fern von jeder Freude
  Hinter Stacheldraht verstaut.