doctype html5
html(lang="en")
  head
    meta(charset="utf-8")
    link(type="text/css" rel="stylesheet" href="assets/stylesheets/application.css")
    script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    title Raccoonblog
  body
    header
      h1 
        | Racco
        span.raccoon-face o
        | nblog
    nav.main-nav.sticky
      a.dropdown-anchor.about(href="") !
      a.dropdown-anchor.staff(href="") ?
      a.dropdown-anchor.tags(href="") # 
      a.dropdown-anchor.menu(href="") @
      span.raccoon-logo raccoon
      ul
        span.raccoon-face.show-on-floating
        li: a(href="") javascript
        li: a(href="") css
        li: a(href="") latest
        li: a(href="") html
        li.active: a(href="") design
      div.dropdown-info.about: include ./partials/about.jade
      div.dropdown-info.staff: include ./partials/staff.jade
      div.dropdown-info.tags: include ./partials/tags.jade
      div.dropdown-info.menu
        ul
          li: a(href="") javascript
          li: a(href="") css
          li: a(href="") latest
          li: a(href="") html
          li: a(href="") design
    .wrapper
      aside
        section.about.sticky-aside
          include ./partials/about.jade
        section.staff
          include ./partials/staff.jade
        nav.tags
          ul
            each tag in ["as","asdas","12ee","Waaaaa","cascas","fsdfds"]
              li: a(href="") #{tag}
                span.corner
      main
        each i in [1,2,3,4]
          article
            figure
              img(src="assets/img/1.png")
            h1: a(href="#{i}") Blogotitle of blogopost about blogoflowers
            .article-meta
              time(datetime="2014-07-28 10:00 UTC+0300") 10:00 Jul 28, 2014
              a(href="aut/#{i}" rel="author") 
                span by&nbsp;
                | E. Hyperraccoon
              include ./partials/socials.jade
            p.
              slow it down, take it in, everybody's in a rush
              not a feeling in their heart, yeah you know it's just a crush, hush
              who's laughing, who's crying, who's sorry now?
              I'll let you drown in your sins, got a feeling this is lust
              let the salvage begin, but I know you don't trust, sucks
              who's laughing, who's crying, who's sorry now?
              on the outside, where my heavy thoughts reside
              I'm a stranger, to myself, I have no pride
              walk a humble path, crown me later in the sky
              I'm a bad guy so you say I have to learn
              I'm a good guy when you have something to earn
              keep your double edged sword dipped in paranoid lies
  script(type="text/javascript" src="assets/application.js")

